.nav-list {
    list-style-type: none;
    position: absolute;
    right:2rem;
    top: 1rem;
}

.nav-button {
    float: left;
    width: 80px;
    text-align: center;
}

.nav-button a {
    text-decoration: none;
    display: block;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-right: 2px solid var(--primary);
}

.nav-button:hover, .active {
    font-weight: 700;
}

.active {
    color: var(--primary);
}

.inactive {
    color: white;
}

.nav-button:first-child  {
    border-left: 2px solid var(--primary);
}