:root {
  --primary: 	#ff0000;
  --secondary: #400000;
}

.App {
  text-align: center;
}

header {
  padding: .5rem 1rem;
  font-family: Tahoma;
  background-color: var(--secondary);
  color: var(--primary);
}

.bold {
  font-weight: 700;
}
