.body {
    max-width: 600px;
    margin: auto;
}

.add-address, .add-credit-card {
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
.add-address {
    border: 3px solid var(--primary);
    color: var(--primary);
    padding: 1rem 0;

}
.add-address:hover {
    color: var(--secondary);
    border-color: var(--secondary);
}

.add-credit-card {
    border: 3px solid var(--secondary);
    color: var(--secondary);
    padding: .75rem 0;
}
.add-credit-card:hover {
    color: var(--primary);
    border-color: var(--primary);
}